# Exclude dotenv files
*.env.test
*.env

#exclude productimages
pics/
thumbnails/

#exclude testbestand
test*

#include variables.env
!variables.env

#include encryption key for funzies
!encryptionkey.env